@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

$font-family-monospace: "VT323", monospace !default;
$font-family-base: $font-family-monospace;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-bold !default;

// scss-docs-start gray-color-variables
$white: #fff !default;
$black: #000 !default;
// scss-docs-end gray-color-variables

$body-bg: $black !default;

// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.5,
  2: $spacer * 0.75,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 4,
) !default;

// scss-docs-start border-radius-variables
$border-radius: 0.5rem !default;
$border-radius-sm: 0.25rem !default;
$border-radius-lg: 1rem !default;
$border-radius-pill: 50rem !default;
// scss-docs-end border-radius-variables

// Cards

// scss-docs-start card-variables
$card-spacer-y: $spacer !default;
$card-spacer-x: $spacer !default;
$card-title-spacer-y: $spacer * 0.75 !default;
$card-border-width: 0px !default;
$card-box-shadow: null !default;
$card-cap-padding-y: $card-spacer-y * 0.5 !default;
$card-cap-padding-x: $card-spacer-x !default;
$card-cap-bg: rgba($black, 0.03) !default;
$card-cap-color: null !default;
$card-height: null !default;
$card-color: null !default;
$card-bg: transparent !default;
$card-img-overlay-padding: $spacer !default;
$card-group-margin: $spacer * 1.5 !default;
// scss-docs-end card-variables
